{% extends "base.html" %}

{% block title %}
Pika - Education
{% endblock title %}

{% block content %}

<main>
    <section class="portfolio-section">
        <div class="container">

            <p class = "section-kicker">My Academic Journey</p>
                
            <h1 class="section-title">Education</h1>

            <div class="card-grid">

                <article class="card">
                    <h2 class="card-title">Universitas Indonesia</h2>
                    <p class="card-meta">
                        Information Systems Undergraduate Program, Faculty of Computer Science (2025 - Present)
                    </p>
                </article>

                <article class="card">
                    <h2 class="card-title">SMAN 90 Jakarta</h2>
                    <p class="card-meta">
                        Top 5 Eligible Students & 3rd Highest School Exam Score
                    </p>
                </article>

                <article class="card">
                    <h2 class="card-title">SMPN 161 Jakarta</h2>
                    <p class="card-meta">
                        Highest Sidanira Score Achiever (93.3)
                    </p>
                </article>
            </div>
        </div>
    </section>
</main>

{% endblock content %}