{% extends "base.html" %}

{% block title %}
Experience - Pika
{% endblock title %}

{% block content %}

<main>
    <section class="experience-section" id="experience">
        <div class="container">

            <button
                class="button button-secondary"
                onclick="showToast(
                    'Notifikasi Sistem',
                    'Experience berhasil dimuat dengan baik!',
                    'success'
                )">
                Test Toast Notifikasi
            </button>

            <p class="section-kicker">My journey so far</p>
            <h1>Experience</h1>

            {% if user.is_superuser %}
            <a href="{% url 'main:show_experience_form' %}">
                Add Experience
            </a>
            {% endif %}

            <div class="experience-grid">
                {% for experience in experience_list %}
                    <article class="experience-card">
                        <span class="experience-category">
                            {{ experience.get_category_display }}
                        </span>
                        <h2>{{ experience.title }}</h2>
                        <p class="experience-description">
                            {{ experience.description }}
                        </p>

                        {% if experience.is_ongoing %}
                            <p class="experience-status">Sedang berlangsung</p>
                        {% else %}
                            <p class="experience-status">Selesai</p>
                        {% endif %}

                        {% if user.is_superuser or is_editor %}
                        <a href="{% url 'main:edit_experience' experience.id %}">
                            Edit
                        </a>
                        {% endif %}

                        {% include "components/experience_star.html" with experience=experience %}

                        {% if user.is_superuser %}
                        <form method="POST" action="{% url 'main:delete_experience' experience.id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        {% endif %}


                    </article>
                {% empty %}
                    <p class="empty-state">
                        Belum ada pengalaman yang ditambahkan.
                    </p>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

{% endblock content %}